---
import Layout from "../layouts/Layout.astro";
import logo from "../assets/JuhaMikael-Logo.svg";
import "../styles/globals.css";
import Button from "../components/Button.astro";
import buyMeCoffee from "../assets/bmc-button.svg";
import { Icon } from "astro-icon";
---

<Layout>
  <main class="flex flex-col text-white font-bold">
    <img src={logo} class="w-64" />
    <div class="mt-8 text-3xl font-bold">
      Website.ID <span class="italic">(WIP)</span>
    </div>

    <div class="mt-3">Actually coming soon!</div>
    <section class="flex flex-row space-x-4 scale-75">
      <Button
        type="back-button"
        href="https://www.juhamikael.info/"
        text="Back"
        hasIcon={true}
        iconName="sharp-arrow-back-ios-new"
        iconPack="ic"
      />
      <Button
        type="image-button"
        imgPath={buyMeCoffee}
        href="https://www.buymeacoffee.com/juhamikael"
      />
    </section>
    <a
      class="mt-3 text-xl font-bold hover:text-yellow-400 flex"
      href="https://open.spotify.com/artist/2heJl7jzvTYoHyR5xwSSea?si=ExUFqyUOSfaRkky9YfvptQ"
      target="_blank"
      >Meanwhile check out my music on Spotify!
      <Icon name="sharp-open-in-new" pack="ic" class="inline-block ml-4 w-5" />
    </a>

    <a
      class="mt-3 text-xl font-bold hover:text-yellow-400 flex"
      href="https://jemi.so/juhamikaelmusic"
      target="_blank"
      >Link Tree
      <Icon name="sharp-open-in-new" pack="ic" class="inline-block ml-4 w-5" />
    </a>
  </main>
</Layout>
