---
import Layout from "../layouts/Layout.astro";
import "../styles/globals.css";

import About from "../components/About.astro";
import Profile from "../components/Profile.astro";
import Tree from "../components/Tree.astro";
---

<Layout>
  <main class="flex place-content-center">
    <div
      class="grid font-montserrat font-bold text-white lg:mx-10 lg:grid-cols-2"
    >
      <div class="flex justify-end">
        <Profile />
      </div>

      <Tree />
    </div>
  </main>
</Layout>